<div class="container">
  <h2><i>Angular Examples</i></h2>
  <br>
  <div class="row">
    <button class="btn btn-primary" routerLink="pipes">Pipe Example</button>
    <button class="btn btn-primary"  routerLink="lifecyclehooks">Lifecycle-Hooks Example</button>
    <button class="btn btn-primary" routerLink="directives">Directives Example</button>
    <button class="btn btn-primary" routerLink="nestedcomponent">Nested Component Example</button>
    <!-- <button class="btn btn-primary" (click)="pipeCode()">Pipe Example</button>
    <button class="btn btn-primary"  (click)="lhooksCode()">Lifecycle-Hooks Example</button>
    <button class="btn btn-primary" (click)="dirCode()">Directives Example</button>
    <button class="btn btn-primary" (click)="nestedcompCode()">Nested Component Example</button> -->
    <button class="btn btn-primary" routerLink="http">Http Example</button>
    <button class="btn btn-primary" routerLink="interceptor">Interceptor Example</button>
  </div>
  <hr>
    <!-- <p *ngIf="pflag">
      <app-pipeex></app-pipeex>
    </p>
    <p *ngIf="dflag">
      <app-directiveex></app-directiveex>
    </p>
    <p *ngIf="lflag">
      <app-lifecyclehooksex></app-lifecyclehooksex>
    </p>
    <p *ngIf="nflag">
      <app-nestedcompex></app-nestedcompex>
    </p> -->
    <router-outlet></router-outlet>
    <footer class="container bg-dark text-light rounded p-2 fixed-bottom">KRR</footer>
</div>