<div class="container">
  <h2><i>Angular some Example</i></h2>
  <br>
  <div class="row">
    <div class="col-sm-4"><button class="btn btn-primary" (click)="pipeCode()">Pipe Example</button></div>
    <div class="col-sm-4"><button class="btn btn-primary"  (click)="lhooksCode()">Lifecycle-Hooks Example</button></div>
    <div class="col-sm-4"><button class="btn btn-primary" (click)="dirCode()">Directives Example</button></div>
  </div>
  <hr>
    <p *ngIf="pflag">
      <app-pipeex></app-pipeex>
    </p>
    <p *ngIf="dflag">
      <app-directiveex></app-directiveex>
    </p>
    <p *ngIf="lflag">
      <app-lifecyclehooksex></app-lifecyclehooksex>
    </p>
</div>